{{define "index"}}
    <div class="filter">
        <div class="category-link">
            <a href="/?category=alem">Alem</a>
        </div>
        <div class="category-link">
            <a href="/?category=boats">Boats</a>
        </div>
        <div class="category-link">
            <a href="/?category=cars">Cars</a>
        </div>
        <div class="category-link">
            <a href="/?category=airplane">Airplane</a>
        </div>
        <div class="category-link">
            <a href="/?category=train">Train</a>
        </div>
        <div class="category-link">
            <a href="/?category=travel">Travel</a>
        </div>       
        <div class="category-link">
            <a href="/?category=other">Other</a>
        </div>
    </div>
    {{ if .Posts }}
    <div class="posts">
        {{$username := .User.Username}}
        {{range .Posts}}
        <div class="card">
            <div class="card-header">
                {{.Author}}
            </div>
            <div class="card-body">
                <h5 class="mt-0">{{.Title}}</h5>
                <p class="card-text">{{.Content}}</p>
                <div class="categories">
                    {{range .Categories}}
                        <a href="/?category={{.}}">{{.}}</a>
                    {{end}}
                </div>
                <div class="img-fluid">
                    {{range .ImagesPath}}
                        <img src="{{.}}" alt="picture">
                    {{end}}
                </div>
                <div class="reactions">
                    <form method="post">
                        <div class="react">
                            <p class="count">{{ .LikeCount }}</p>
                            <button name="postID" {{if eq .Vote 1}} class="voted" {{else}} class="vote" {{end}} value="{{.ID}}" type="submit" {{ if not $username}} disabled {{ end }}>
                                <input type="hidden" name="react" value="1" >
                            </button>
                        </div>
                    </form>
                    <form method="post">
                        <div class="react">
                            <p class="count">{{ .DislikeCount }}</p>
                            <button name="postID" {{if eq .Vote -1}} class="voted vote-dislike" {{else}} class="vote vote-dislike" {{end}} value="{{.ID}}" type="submit" {{ if not $username }} disabled {{ end }}>
                                <input type="hidden" name="react" value="-1">
                            </button>
                        </div>
                    </form>
                    <div class="react">
                        <p class="count">{{ .CommentCount }}</p>
                        <a href="/posts/{{.ID}}" class="btn-primary">
                            <img src="/templates/img/chat.png" alt="comment">
                        </a>
                    </div>
                </div>
                </form>
            </div>     
        </div>
        {{end}}
    </div>
    {{end}}
{{end}}
