{{ define "sign-up" }}
<form action="/sign-up" method="post" class="sign-form">
    <p class="h2 text-center">Welcome to Forum!</p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input name="username" type="text" name="username" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input name="password" type="password" name="password" class="form-control" id="exampleInputPassword1">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters, numbers and symbols, and must not contain spaces or emoji.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
        <input name="confirm_password" type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}